@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --white-color: #f0f0f0;
  --white2-color: #d3d3d3;
  --gray-color: #a0a0a0;
  --gray2-color: #747474;
  --black-color: #242424;
  --black2-color: #272727;
  --black3-color: #3f3f3f;
  --blue-color: #0097fc;
  --dark-blue-color: #0077c7;
  --red-color: #fc0000;
  --dark-red-color: #c70000;
  --orange-color: #fc9700;
  --dark-orange-color: #c76000;
  --green-color: #08fc00;
  --dark-green-color: #17c700;
  --yellow-color: #fcf800;
  --dark-yellow-color: #c7c400;
  --pink-color: #fc00ef;
  --dark-pink-color: #c700bd;
  --purple-color: #1100fc;
  --dark-purple-color: #1e00c7;

  --light-bg: #f0f0f0;
  --light2-bg: #d3d3d3;
  --dark-bg: #181818;
  --dark2-bg: #252525;
}
