@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --white-color: #f0f0f0;
  --white2-color: #d3d3d3;
  --gray-color: #a0a0a0;
  --gray2-color: #747474;
  --gray3-color: #353535;
  --gray4-color: #1f1f1f;
  --black-color: #242424;
  --black2-color: #272727;
  --black3-color: #3f3f3f;
  --blue-color: #0097fc;
  --dark-blue-color: #0077c7;
  --red-color: #fc0000;
  --dark-red-color: #c70000;
  --orange-color: #fc9700;
  --dark-orange-color: #c76000;
  --green-color: #08fc00;
  --dark-green-color: #17c700;
  --yellow-color: #fcf800;
  --dark-yellow-color: #c7c400;
  --pink-color: #fc00ef;
  --dark-pink-color: #c700bd;
  --purple-color: #1100fc;
  --dark-purple-color: #1e00c7;

  --light-bg: #f0f0f0;
  --light2-bg: #d3d3d3;
  --dark-bg: #181818;
  --dark2-bg: #252525;
}

.light::before,
.light::after {
  background-color: var(--white2-color) !important;
}

.dark::before,
.dark::after {
  background-color: var(--black2-color) !important;
}

.bluebg::before,
.bluebg::after {
  background-color: var(--blue-color) !important;
}

.redbg::before,
.redbg::after {
  background-color: var(--red-color) !important;
}

.greenbg::before,
.greenbg::after {
  background-color: var(--green-color) !important;
}

.yellowbg::before,
.yellowbg::after {
  background-color: var(--yellow-color) !important;
}

.pinkbg::before,
.pinkbg::after {
  background-color: var(--pink-color) !important;
}

.orangebg::before,
.orangebg::after {
  background-color: var(--orange-color) !important;
}

.purplebg::before,
.purplebg::after {
  background-color: var(--purple-color) !important;
}

.blue {
  color: var(--dark-blue-color) !important;
  transition: all 0.3s !important;
}

.red {
  color: var(--dark-red-color) !important;
  transition: all 0.3s !important;
}

.green {
  color: var(--dark-green-color) !important;
  transition: all 0.3s !important;
}

.pink {
  color: var(--dark-pink-color) !important;
  transition: all 0.3s !important;
}

.orange {
  color: var(--dark-orange-color) !important;
  transition: all 0.3s !important;
}

.yellow {
  color: var(--dark-yellow-color) !important;
  transition: all 0.3s !important;
}

.purple {
  color: var(--dark-purple-color) !important;
  transition: all 0.3s !important;
}

.bluehover:hover {
  color: var(--dark-blue-color) !important;
  transition: all 0.3s !important;
}

.redhover:hover {
  color: var(--dark-red-color) !important;
  transition: all 0.3s !important;
}

.greenhover:hover {
  color: var(--dark-green-color) !important;
  transition: all 0.3s !important;
}

.pinkhover:hover {
  color: var(--dark-pink-color) !important;
  transition: all 0.3s !important;
}

.orangehover:hover {
  color: var(--dark-orange-color) !important;
  transition: all 0.3s !important;
}

.yellowhover:hover {
  color: var(--dark-yellow-color) !important;
  transition: all 0.3s !important;
}

.purplehover:hover {
  color: var(--dark-purple-color) !important;
  transition: all 0.3s !important;
}

.blueback {
  background-color: var(--dark-blue-color) !important;
  transition: all 0.3s !important;
}

.redback {
  background-color: var(--dark-red-color) !important;
  transition: all 0.3s !important;
}

.orangeback {
  background-color: var(--dark-orange-color) !important;
  transition: all 0.3s !important;
}

.yellowback {
  background-color: var(--dark-yellow-color) !important;
  transition: all 0.3s !important;
}

.pinkback {
  background-color: var(--dark-pink-color) !important;
  transition: all 0.3s !important;
}

.purpleback {
  background-color: var(--dark-purple-color) !important;
  transition: all 0.3s !important;
}

.greenback {
  background-color: var(--dark-green-color) !important;
  transition: all 0.3s !important;
}

.bluebackhover:hover {
  background-color: var(--dark-blue-color) !important;
  color: var(--black-color) !important;
}

.yellowbackhover:hover {
  background-color: var(--dark-yellow-color) !important;
  color: var(--black-color) !important;
}

.pinkbackhover:hover {
  background-color: var(--dark-pink-color) !important;
  color: var(--black-color) !important;
}

.greenbackhover:hover {
  background-color: var(--dark-green-color) !important;
  color: var(--black-color) !important;
}

.redbackhover:hover {
  background-color: var(--dark-red-color) !important;
  color: var(--black-color) !important;
}

.purplebackhover:hover {
  background-color: var(--dark-purple-color) !important;
  color: var(--black-color) !important;
}

.orangebackhover:hover {
  background-color: var(--dark-orange-color) !important;
  color: var(--black-color) !important;
}

.lighthover:hover {
  background-color: var(--white2-color) !important;
}

.darkhover:hover {
  background-color: var(--black3-color) !important;
}
