.sidebar {
  width: 230px;
  position: relative;
  &--container {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 2rem;
    gap: 2.5rem;
    &--logo {
      &--title {
        font-size: 0.8rem;
        color: var(--white-color);
        & span {
          color: var(--blue-color);
        }
      }
    }
    &--feeds {
      position: relative;
      & span {
        color: var(--gray-color);
        font-size: 0.7rem;
        font-weight: 600;
      }
      &--ul {
        list-style: none;
        display: flex;
        padding: 1rem 0rem;
        flex-direction: column;
        gap: 0.5rem;
        &--li a {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: left;
          gap: 1rem;
          text-decoration: none;
          color: var(--gray-color);
          position: relative;
          & h2 {
            font-size: 0.7rem;
            font-weight: 500;
          }
          & i {
            font-size: 0.7rem;
          }
        }
        &--li a::before {
          position: absolute;
          content: "";
          background-color: var(--blue-color);
          height: 75%;
          width: 2px;
          left: -10px;
        }
      }
    }
    &--feeds::after {
      position: absolute;
      content: "";
      background-color: var(--black2-color);
      height: 2px;
      width: 80%;
      bottom: 0;
    }
    &--users {
      display: flex;
      align-items: left;
      justify-content: center;
      flex-direction: column;
      gap: 0.7rem;
      position: relative;
      padding-bottom: 1.5rem;
      &--span {
        font-size: 0.7rem;
        font-weight: 700;
        color: var(--gray-color);
        padding: 0.8rem 0;
      }
      &--user {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--info {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 7px;
          font-size: 0.8rem;
          font-weight: 700;
          color: var(--gray-color);
          cursor: pointer;
          &--profile {
            width: 15px;
            border-radius: 50%;
          }
        }
        &--icon {
          font-size: 0.5rem;
        }
      }
    }
    &--users::after {
      position: absolute;
      content: "";
      background-color: var(--black2-color);
      height: 2px;
      width: 80%;
      bottom: 0;
    }
    &--logout {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 5px;
      cursor: pointer;
      &--icon {
        font-size: 1rem;
        color: var(--gray-color);
      }
      &--span {
        font-size: 1rem;
        color: var(--gray-color);
      }
    }
  }
}

.sidebar::before {
  position: absolute;
  content: "";
  background-color: var(--black2-color);
  height: 100%;
  width: 2px;
  right: 20px;
}

.topbar {
  padding: 1.5rem;

  &--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--search {
      position: relative;
      display: flex;
      &--input {
        width: 250px;
        height: 35px;
        background-color: var(--dark-bg);
        color: var(--gray2-color);
        border: 1px solid var(--black2-color);
        border-radius: 10px;
        padding-left: 20px;
        outline: none;
      }
      &--input::placeholder {
        color: var(--gray2-color);
      }
      &--icon {
        position: absolute;
        right: 0;
        font-size: 1.3rem;
        color: var(--gray2-color);
        padding: 0.5rem;
      }
    }
    &--dropdown {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      &--theme {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 250px;
        height: 300px;
        border-radius: 10px;
        padding: 1rem;
        gap: 1rem;
        position: absolute;
        z-index: -1;
        opacity: 0;
        right: 0rem;
        transition: all 500ms ease-in;

        &--modes {
          display: flex;
          flex-direction: column;
          align-items: center;

          & span {
            font-size: 1rem;
            color: var(--white-color);
            font-weight: 500;
          }
          &--mode {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 0rem;
            width: 100%;
            gap: 1rem;
            &--switch {
              display: inline-block;
            }
            &--switch label {
              display: block;
              width: 60px;
              height: 30px;
              padding: 4px;
              border-radius: 15px;
              background: #c1c1d4;
              cursor: pointer;
              transition: 0.3s;
            }

            &--switch label::after {
              content: "";
              display: inherit;
              width: 22px;
              height: 22px;
              border-radius: 12px;
              background: #fff;
              transition: 0.3s;
            }
            &--switch input {
              display: none;
            }
            &--switch input:checked ~ label {
              background: var(--black2-color);
            }

            &--switch input:checked:active ~ label::after {
              translate: 24px 0;
            }

            &--switch input:checked ~ label::after {
              translate: 30px 0;
            }
            &--item {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              cursor: pointer;
              border: none;
              outline: none;
            }
          }
        }
        &--colors {
          display: flex;
          flex-direction: column;
          align-items: center;

          & span {
            font-size: 1rem;
            color: var(--white-color);
            font-weight: 500;
          }
          &--color {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 1rem 0rem;
            gap: 1.5rem;
            &--item {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              cursor: pointer;
              border: none;
              outline: none;
            }
          }
        }
      }

      &--icon {
        font-size: 1.5rem;
        color: var(--white-color);
        cursor: pointer;
      }
      &--palette {
        position: relative;
      }
      &--detail {
        position: relative;
      }
      &--palette:hover &--theme {
        opacity: 1;
        z-index: 1;
      }
      &--userPhoto {
        width: 35px;
        border-radius: 50%;
        border: 2px solid var(--blue-color);
        cursor: pointer;
      }

      &--notification {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 250px;
        opacity: 0;
        z-index: -1;
        border-radius: 10px;
        padding: 1rem;
        gap: 1rem;
        position: absolute;
        right: 0;
        transition: all 500ms ease-in;
        &--item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 15px;
          padding: 0.5rem 0.7rem;
          width: 230px;

          background-color: var(--black3-color);
          cursor: pointer;
          &--info {
            display: flex;
            align-items: center;
            justify-content: left;
            flex-direction: column;
            gap: 0.2rem;

            &--span {
              font-size: 0.5rem;
            }
            &--profile {
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }
          }
          &--p {
            font-size: 0.6rem;
          }
        }
      }

      &--detail:hover &--notification {
        opacity: 1;
        z-index: 1;
      }
      &--bellnote {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 250px;
        opacity: 0;
        z-index: -1;
        border-radius: 10px;
        padding: 1rem;
        gap: 1rem;
        position: absolute;
        right: 4rem;
        top: 3.4rem;
        transition: all 500ms ease-in;
        &--item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 15px;
          padding: 0.5rem 0.7rem;
          width: 230px;

          background-color: var(--black3-color);
          cursor: pointer;
          &--info {
            display: flex;
            align-items: center;
            justify-content: left;
            flex-direction: column;
            gap: 0.2rem;

            &--span {
              font-size: 0.5rem;
            }
            &--profile {
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }
          }
          &--p {
            font-size: 0.6rem;
          }
        }
      }
      &--bell:hover &--bellnote {
        opacity: 1;
        z-index: 1;
      }
    }
    &--userprofile {
      position: absolute;
      width: 180px;
      background-color: var(--dark2-bg);
      padding: 1rem;
      border-radius: 10px;
      animation: move 0.5s;
      display: none;
      top: 15%;
      right: 3%;
      align-items: center;
      flex-direction: column;

      &--up {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &--h5 {
          font-size: 1.5rem;
          font-weight: 500;
          color: var(--blue-color);
        }
      }
      &--up::after {
        position: absolute;
        content: "";
        bottom: 0;
        background-color: var(--blue-color);
        width: 100%;
        height: 2px;
      }
      &--middle {
        padding: 2rem 0rem;
        &--options {
          list-style: none;
          display: flex;
          align-items: left;
          justify-content: center;
          flex-direction: column;
          gap: 1rem;
          &--item {
            color: var(--white-color);
            position: relative;
            cursor: pointer;
            transition: all 0.3s;
          }
          &--item::before {
            position: absolute;
            left: -10px;
            content: "";
            background-color: var(--blue-color);
            width: 2px;
            height: 110%;
            top: -1px;
          }
          &--item:hover &--item::before {
            position: absolute;
            left: -10px;
            content: "";
            background-color: var(--blue-color);
            width: 110%;
            height: 110%;
            top: -1px;
          }
        }
      }
    }
  }
}

.dark {
  background-color: var(--dark2-bg);
  color: var(--white2-color);
}

.light {
  background-color: var(--light2-bg);
  color: var(--black2-color);
}

.active {
  display: flex;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    right: 3%;
  }
}

.slimbleslider {
  width: 1000px;
  height: 300px;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.swiper-slide {
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 20px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &--info {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    gap: 30%;
    padding: 2rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.804359243697479) 39%,
      rgba(0, 0, 0, 0.4990371148459384) 59%,
      rgba(0, 212, 255, 0) 80%
    );
    overflow: hidden;

    &--part1 {
      text-align: left;

      &--h3 {
        color: var(--white-color);
        padding: 0.1rem;
        border-radius: 10px;
      }
    }
    &--part2 {
      display: flex;
      align-items: center;
      gap: 20px;

      &--score {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 15px;
        &--image {
          width: 30px !important;
          height: 30px !important;
        }
        &--span {
          color: var(--white-color);
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
      &--lan {
        display: flex;
        align-items: center;
        gap: 10px;

        &--image {
          font-size: 2rem;
          color: var(--white-color);
        }
        &--span {
          font-size: 1.5rem;
          font-weight: 700;
          color: var(--white-color);
        }
      }
    }
    &--part3 {
      display: flex;
      align-items: center;
      gap: 10%;
      &--button {
        padding: 0.8rem 1.5rem;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background-color: var(--blue-color);
        font-weight: 600;
        font-size: 1rem;
        color: var(--white-color);
      }
      &--span {
        font-size: 1rem;
        font-weight: 700;
        color: var(--white-color);
      }
    }
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.movielist .swiper-slide {
  width: 200px !important;
  height: 230px;
}

.movielist {
  padding-top: 2rem;
  &--movie {
    position: relative;
    &--poster {
      width: 100% !important;
      height: 100% !important;
      border-radius: 20px;
    }
    &--info {
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      bottom: 0;
      padding: 1rem;
      &--rating {
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: var(--yellow-color);
        color: var(--black3-color);
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 900;
        padding-top: 0.6rem;
      }
      &--icon {
        font-size: 3rem;
        color: var(--blue-color);
        cursor: pointer;
      }
    }
  }
}

.page_title {
  font-size: 2rem;
  color: var(--blue-color);
  padding: 1rem;
  font-weight: 400;
}
